<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/summary.css">
</head>
<body>

<!-- HEADER -->
<header class="header">
    <div class="header-left">
        <img src="/static/images/logo.png">
        <h2>AI Expense Tracker</h2>
    </div>

    <div class="header-right">
        <a href="/dashboard-page" class="back-btn">← Dashboard</a>
    </div>
</header>

<!-- MAIN -->
<div class="container">

    <!-- TITLE -->
    <div class="title">
        <h1>📊 Expense Summary</h1>
        <p>Analyze your spending with smart filters and insights</p>
    </div>

    <!-- FILTER SECTION -->
    <div class="filters">
        <input type="date" id="startDate">
        <input type="date" id="endDate">
        <input type="text" id="category" placeholder="Category (Food, Travel...)">
        <button onclick="loadSummary()">Apply Filter</button>
    </div>

    <!-- SUMMARY CARDS -->
    <div class="summary-cards">

        <div class="card">
            <h3>💰 Total Expense</h3>
            <span id="total">0</span>
        </div>

        <div class="card">
            <h3>📊 Transactions</h3>
            <span id="count">0</span>
        </div>

        <div class="card">
            <h3>📉 Average</h3>
            <span id="avg">0</span>
        </div>

        <div class="card">
            <h3>🔺 Highest</h3>
            <span id="high">0</span>
        </div>

        <div class="card">
            <h3>🔻 Lowest</h3>
            <span id="low">0</span>
        </div>

    </div>

</div>

<!-- FOOTER -->
<footer class="footer">
    <h3>AI Expense Tracker</h3>
    <p>Smart financial tracking powered by AI to help you control your money and improve savings.</p>

    <div class="contact">
        <p>📞 +91 9011621636</p>
        <p>📧 mrpk49227@gmail.com</p>
        <p>📨 prakash.work@zohomail.in</p>
    </div>
     <a href="privacy-policy.html">Privacy Policy</a>

    <a href="terms-and-conditions.html">
    Terms & Conditions
    </a>

    <p class="copy">© 2026 AI Expense Tracker</p>
</footer>

<script src="/static/js/summary.js"></script>
</body>
</html>